body {
    margin: 10%;
    font-family: 'Cormorant Garamond', serif;
}
.all {
    width: 500px;
    border: solid black 0.5pt;
    padding: 50px;
    box-sizing: border-box;
    margin-left: calc(50% - 250px);
    animation-name: border;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#title {
    font-family: 'Astloch', cursive;
    font-size: 25pt;
}
li {
    width: 500px;
}
li:hover {
    animation-name: list;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
@keyframes list {
    from {margin-left: 0%;}
    to {margin-left: 500%;}
}
@keyframes border {
    from {border: solid black 0.5pt;}
    to {border: solid white 0.5pt;}
}
@media only screen and (max-width: 600px) {
    .all {
        border: 0pt;
        color: white;
    }
    body {
        background-color: black;
    }
}
