body {
    margin: 8%;
    margin-top: 5%;
    font-family: 'Playfair Display', serif;
}
#title {
    width: 150px;
    background-color: black;
    color: white;
    padding: 20px;
    position: fixed;
    font-family: 'Yeseva One', cursive;
    margin-left: 100px;
    margin-top: 0px;
}
.text {
    position: relative;
    left: calc(50% - 230px);
    padding: 30px;
    border: 2pt solid black;
    width: 460px;
    box-sizing: border-box;
}
